/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

img {
    max-width: 100%;
}
  
  /* COMMON */
  /* Layout */

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
    min-height: 80px;
}

header {
    background-color: #ff6900;
    margin-bottom: 3rem;
}

.section {
    padding: 30px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    flex-wrap: wrap;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.col {
    width: calc(95% / 3);

    /* debug */
    border: 1px solid black;
    min-height: 200px;
}

.card {
    position: relative;
}

.heart {
    position: absolute;
    border: 1px solid white;
    right: 0;
    top: 1rem;
    width: 1.5rem;
    height: 1.4rem;
    text-align: center;
    background-color: white;
}

.discount {
    position: absolute;
    left: 0;
    bottom: 20%;   
}

.box {
    text-align: center;
    color: white;
    padding: 0.3rem;
}

.percentage {
    background-color: red;
    
}

.sustainability {
    background-color: green;
}

red {
    color: red;
}

old {
    text-decoration: line-through;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}


/* header */

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }


  /* main */
.description {
    font-size: 0.7rem;
    line-height: 0.8rem;
}

.card:hover .front-img {
    position: relative;
    z-index: -2;
}

.card:hover .heart {
    color: red;
}